* {
    margin: 0;
    padding: 0;
}

body {
    /* VH = VIEWPORT HEIGHT */
    height: 100vh;
    box-sizing: border-box; /*SERVE PARA QUE O CONTEUDO NÃO SAIA PARA FORA DO ELEMENTO PAI */
    background-color: black;
    color: white;
}

.titulo-destaque{
    color: #22d4fd;
}

.apresentacao{
    display: flex; /* O main vai ser display flex, por padrão ele coloca os elementos filho em uma row */
    /*Para mudar a posição que vai ficar o conteudo dentro da flexbox, é necessario usar o comando flex-direction*/
    align-items: center;
}